<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <script type="text/javascript" src="~/Scripts/shHighlight/shCore.js"></script>
    <script type="text/javascript" src="~/Scripts/shHighlight/shBrushCSharp.js"></script>
    <script type="text/javascript" src="~/Scripts/shHighlight/shBrushXml.js"></script>

    <link type="text/css" rel="stylesheet" href="~/Content/shHighlight/shCoreDefault.css"/>
    <link type="text/css" rel="stylesheet" href="~/Content/shHighlight/shCoreEmacs.css" />
    @*<link type="text/css" rel="stylesheet" href="~/Content/shHighlight/shThemeEmacs.css" />*@
    <script type="text/javascript"></script>

    @Styles.Render("~/Content/css")

    @Scripts.Render("~/bundles/jquery")

    <style>
        .library {
            color: Maroon;
            font-weight: Bold;
        }

        .setting {
            color: rgb(255, 145, 92);
            font-weight: Bold;
        }

        .codeMethod {
            color: Brown;
        }

        .stepResult {
        }

        .stepProject {
        }
    </style>

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("SDK Samples", "Index", "SDK", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Map", "Index", "Home")</li>
                    <li>@Html.ActionLink("Transport", "Index", "transport")</li>
                    <li>@Html.ActionLink("Benchmark", "Index", "benchmark")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid body-content">
        @RenderBody()
    </div>

 
    @Scripts.Render("~/bundles/bootstrap")

    <script src="~/signalr/hubs"></script>

    @Scripts.Render("~/bundles/app")


    @RenderSection("scripts", required: false)

<script>
    
    var samples = $("pre[sample-id]").each(function (e) {
        var sampleId = $(this).attr("sample-id");
        $(this).html($("#" + sampleId).contents());
    });

    SyntaxHighlighter.all();

    //hljs.initHighlightingOnLoad();
</script>
</body>
</html>
